{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1> Estados de Cuenta</h1>


<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="GET">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card table-card">
                                    <div class="card-body">
                                        <div class="text-end p-4 pb-sm-2">
                                            <div class="text-end p-4 pb-sm-2">
                                                <a href="{% url 'ingresar_cobro' %}" class="btn btn-shadow btn-link">Ingresar Cobro</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                        
                                            <table class="table table-hover" id="pc-dt-simple">
                                                <thead>
                                                    <tr>
                                                        <th>Estudiante</th>
                                                        <th>CUI</th>
                                                        <th>Grado</th>
                                                        <th>Carrera</th>
                                                        <th>Acciones</th>
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for estudiante in estudiantes %}

                                                 
                                                    <tr>
                                                        <td>{{estudiante.nombre}}</td>
                                                       
                                                        <td>
                                                            <div class="row">
                                                               
                                                                <div class="col">
                                                                    <h6 class="mb-0">{{estudiante.usuario}} </h6>
                                                                    
                                                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{estudiante.grado}}</td>
                                                        <td>{{estudiante.carrera}}</td>
                                                       
                                                      
                                                        <td>  <a href="{% url 'cobros_alumno' estudiante.id %}" class="btn btn-shadow btn-link">Estado de Cuenta</a>  </td>
                                                    </tr>
                                                    {% endfor %}
 
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                  



{% endblock %}
