{% extends 'base_docente.html' %}
{% load static %}

{% block content %}

<h1> Bienvenido {{user.first_name}} {{user.last_name}} </h1>



                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card table-card">
                                    <div class="card-body">
                                        <div class="text-end p-4 pb-sm-2">
                                            <a href="{% url 'crear_nota' %}" class="btn btn-shadow btn-link">Crear Nota</a>
                                        </div>
                                        <div class="table-responsive">
                                        
                                            <table class="table table-hover" id="pc-dt-simple">
                                                <thead>
                                                    <tr>
                                                        <th>Curso</th>
                                                        <th>Alumno</th>
                                                        <th>Grado</th>
                                                 
                                                        <th>Acciones</th>
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for calificacion in calificaciones %}

                                                 
                                                    <tr>
                                                        <td>{{calificacion.curso}}</td>
                                                        <td>
                                                            <div class="row">
                                                               
                                                                <div class="col">
                                                                    <h6 class="mb-0">{{calificacion.estudiante}} </h6>
                                                                    
                                                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{calificacion.grado}}</td>
                                             
                                                        <td>  <a href="{% url 'editar_nota' calificacion.id %}" class="btn btn-shadow btn-link">Editar</a></td>
                                                       
                                                        {% comment %} <td> <a href="{% url 'notas' calificacion.id %} " class="btn btn-shadow btn-link">Imprimir</a> <a href="{% url 'editar_nota' calificacion.id %}" class="btn btn-shadow btn-link">Editar</a></td> {% endcomment %}
                                                    </tr>
                                                    {% endfor %}
 
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                  


{% endblock %}
