{% extends 'base_estudiante.html' %}
{% load static %}

{% block content %}



                        <!-- [ Main Content ] start -->
                        <div class="row">
                          <!-- [ sample-page ] start -->
                          <div class="col-sm-12">
                              <div class="card table-card">
                                  <div class="card-body">







<div class="accordion card" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h1>Estado de Cuenta</h1>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="table-responsive">
                                        
          <table class="table table-hover" id="pc-dt-simple">

            
              <thead>
                  <tr>
                      <th>Cobro</th>
                      <th>Description</th>
                      <th>Monto</th>
                      <th>Fecha Límite</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cobro in cobros %}
                      <tr>
                          <td>{{ cobro.mes }}</td>
                          <td>{{ cobro.descripccion }}</td>
                          <td>{{ cobro.monto }}</td>
                          <td>{{ cobro.fecha_limite }}</td>
                          <td>{% if cobro.pagado %} Pagado {% elif cobro.mora %} En mora {% else %} Pendiente {% endif %}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>




</div>
</div>
</div>
</div>
</div>

{% endblock %}
